body {
    background-color: #e2e2e2;
}

.item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #e2e2e2;
    padding: 10px;
}

.cart-items {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #e2e2e2;
    padding: 10px;
}

.row {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 17px;
    text-align: center;
}

.cart-total {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 10px;
    font-size: 20px;
    text-align: left;
}

button {
    display: inline-block;
    border: none;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.remove-btn {
    background-color: red;
    border-radius: 8px;
}

.item-add {
    background-color: brown;
    border-radius: 10px;
}

.purchase-btn {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.buyBtn {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#myBtn {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

@media screen and (max-width: 660px) {
    .grid-container {
        max-width: fit-content;
        display: flex;
        flex-direction: column;
    }
    .cart-items {
        max-width: fit-content;
        display: flex;
        flex-direction: column;
    }
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
    
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    padding: 20px;
    animation-duration: 0.4s
  }
  
 /* The Close Button */
.close {
    color: #aaa;
    font-size: 48px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -600px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

  #cart-counter {
    display:inline-block;
    width:20px;
    /* opacity:0; */
    height:20px;
    background:#ffffff;
    text-align:center;
    border-radius:50%;
    margin-left:10px;
    color: rgba(0, 0, 0, 0.8);
  }
  

  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  header {
    display: flex;
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #3d3d3d;
    text-align: center;
    padding: 1rem 0.1rem;
    justify-content: center;
    transition: all 0.2s;  
  }
  
  header nav a {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    letter-spacing: 0.5px;
  }
  
  header nav a:hover,
  header nav a.active {
    background: #ffffff;
    color: #42455a;
    transition: 0.5s ease-out;
    letter-spacing: 2px;
  }

  .item-add:hover,
  .item-add.hover  {
    background: #000000;
    color: #42455a;
    transition: 0.1s ease-out;
    letter-spacing: 1px;
  }